<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Darío Hernán Windholz</p>
        <p style="color: white;">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 style="color: white;">Acerca de mí</h1>
            <p style="color: white;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque iusto fuga ducimus dolor repellendus corrupti quasi fugit. Atque, nobis velit eius quos doloremque maiores debitis, accusantium accusamus dolores, numquam incidunt.</p>
        </span>
    </div>
</div>
